body{
    background-image: url('images/dollar\ notes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(99, 0, 0);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 45vh;
}

img{
    height: 100px;
    width: 100px;
    margin-top: 40px;
}

h1{
    text-align: center;
    font-size: xx-large;
}